# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default reviewers for everything in
# the repo.
#
# See https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @reactor/core-team

/reactor-tools/* @bsideup
