version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "type/dependency-upgrade"
      - "status/need-triage"
    reviewers:
      - "reactor/core-team"
    # updates in the oldest maintenance branch, we'll forward-merge up to main
    target-branch: "3.6.x"
    ignore:
      # JSR166 backport is fixed
      - dependency-name: "io.projectreactor:jsr166"
      # JSR305 backport is fixed to last version with annotations (3.0.1)
      - dependency-name: "com.google.code.findbugs:jsr305"
      # Micrometer is updated manually
      - dependency-name: "io.micrometer:*"
      # Kotlin: stay on 1.8 to allow support for 1.3 target
      - dependency-name: "org.jetbrains.kotlin*"
        versions:
        - ">= 1.9.a"
      # SLF4J: don't upgrade to v2
      - dependency-name: "org.slf4j:slf4j-api"
        versions:
        - ">= 2.a"
      # logback: don't upgrade to v1.3 or later (require slf4j v2, 1.4.x also requires JDK11+)
      - dependency-name: "ch.qos.logback:logback-classic"
        versions:
        - ">= 1.3.a"
      # TestNG: 7.6+ doesn't support JDK8 anymore
      - dependency-name: "org.testng:testng"
        versions:
        - ">= 7.6.a"
      # Mockito: don't upgrade to v5 (requires JDK11+)
      - dependency-name: "org.mockito:mockito-core"
        versions:
        - ">= 5.0.a"
      # ArchUnit: don't upgrade to v1 (requires slf4j v2)
      - dependency-name: "com.tngtech.archunit:archunit"
        versions:
        - ">= 1.0.a"
      # bnd: don't upgrade to v7 (requires JDK17+)
      - dependency-name: "biz.aQute.bnd.builder:biz.aQute.bnd.builder.gradle.plugin"
        versions:
          - ">= 7.0.a"
      # artifactory: don't upgrade to v5 (collides with Kotlin plugin) - Remove once 3.4 is out of support
      - dependency-name: "com.jfrog.artifactory:com.jfrog.artifactory.gradle.plugin"
        versions:
          - ">= 5.0.a"
  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: "weekly"
    labels:
      - "type/dependency-upgrade"
    reviewers:
      - "reactor/core-team"
    # updates in oldest maintenance branch, we'll forward-merge up to main
    target-branch: "3.6.x"
