version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "type/dependency-upgrade"
      - "status/need-triage"
    reviewers:
      - "reactor/core-team"
    # Updates in the oldest maintenance branch. We'll forward-merge up to main
    target-branch: "3.7.x"
    ignore:
      # JSR166 backport is fixed
      - dependency-name: "io.projectreactor:jsr166"
      # JSR305 backport is fixed to last version with annotations (3.0.1)
      - dependency-name: "com.google.code.findbugs:jsr305"
      # Micrometer is updated manually
      - dependency-name: "io.micrometer:*"
      # Reactor-Core-Micrometer is updated manually
      - dependency-name: "io.projectreactor:reactor-core-micrometer"
      # Kotlin: stay on 1.8 to allow support for 1.3 target
      - dependency-name: "org.jetbrains.kotlin*"
        versions:
        - ">= 1.9.a"
      # SLF4J: don't upgrade to v2
      - dependency-name: "org.slf4j:slf4j-api"
        versions:
        - ">= 2.a"
      # logback: don't upgrade to v1.3 or later (require slf4j v2, 1.4.x also requires JDK11+)
      - dependency-name: "ch.qos.logback:logback-classic"
        versions:
        - ">= 1.3.a"
      # JUnit: don't upgrade to v6 (requires JDK17+)
      - dependency-name: "org.junit:*"
        versions:
          - "[6.0.0,)"
      # JUnit Jupiter: don't upgrade to v6 (requires JDK17+)
      - dependency-name: "org.junit.jupiter:*"
        versions:
          - "[6.0.0,)"
      # TestNG: 7.6+ doesn't support JDK8 anymore
      - dependency-name: "org.testng:testng"
        versions:
        - ">= 7.6.a"
      # Mockito: don't upgrade to v5 (requires JDK11+)
      - dependency-name: "org.mockito:mockito-core"
        versions:
        - ">= 5.0.a"
      # ArchUnit: don't upgrade to v1 (requires slf4j v2)
      - dependency-name: "com.tngtech.archunit:archunit"
        versions:
        - ">= 1.0.a"
      # bnd: don't upgrade to v7 (requires JDK17+)
      - dependency-name: "biz.aQute.bnd.builder"
        versions:
          - "[7.a, 8]"
      # artifactory: don't upgrade above 5.1.10 as it breaks the toolchain
      # languageVersion setting
      - dependency-name: "com.jfrog.artifactory"
        versions:
          - "[5.1.11, 7]"
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "type/dependency-upgrade"
      - "status/need-triage"
    reviewers:
      - "reactor/core-team"
    target-branch: "main"
    ignore:
      # JSR166 backport is fixed
      - dependency-name: "io.projectreactor:jsr166"
      # JSR305 backport is fixed to last version with annotations (3.0.1)
      - dependency-name: "com.google.code.findbugs:jsr305"
      # Micrometer is updated manually
      - dependency-name: "io.micrometer:*"
      # Reactor-Core-Micrometer is updated manually
      - dependency-name: "io.projectreactor:reactor-core-micrometer"
      # Kotlin: stay on 1.8 to allow support for 1.3 target
      - dependency-name: "org.jetbrains.kotlin*"
        versions:
          - ">= 1.9.a"
      # Dependencies updated by forward merging 3.7.x branch
      - dependency-name: "ch.qos.logback:logback-classic"
      - dependency-name: "com.pivovarit:throwing-function"
      - dependency-name: "com.tngtech.archunit:archunit"
      - dependency-name: "net.bytebuddy:byte-buddy"
      - dependency-name: "net.bytebuddy:byte-buddy-agent"
      - dependency-name: "io.projectreactor.tools:blockhound"
      - dependency-name: "org.assertj:assertj-core"
      - dependency-name: "org.awaitility:awaitility"
      - dependency-name: "org.junit:junit-bom"
      - dependency-name: "org.junit.jupiter:*"
      - dependency-name: "org.junit.platform:*"
      - dependency-name: "org.testng:testng"
      - dependency-name: "org.mockito:mockito-core"
      - dependency-name: "org.openjdk.jol:jol-core"
      - dependency-name: "org.reactivestreams:*"
      - dependency-name: "org.slf4j:slf4j-api"
      # Plugins updated by forward merging 3.7.x branch
      - dependency-name: "biz.aQute.bnd.builder"
      - dependency-name: "com.diffplug.spotless"
      - dependency-name: "com.gradleup.shadow"
      - dependency-name: "com.jfrog.artifactory"
      - dependency-name: "de.undercouch.download"
      - dependency-name: "io.github.reyerizo.gradle.jcstress"
      - dependency-name: "io.spring.antora.generate-antora-yml"
      - dependency-name: "io.spring.nohttp"
      - dependency-name: "me.champeau.gradle.japicmp"
      - dependency-name: "me.champeau.mrjar"
      - dependency-name: "org.antora"
  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: "weekly"
    labels:
      - "type/dependency-upgrade"
    reviewers:
      - "reactor/core-team"
    # Updates in the oldest maintenance branch. We'll forward-merge up to main
    target-branch: "3.7.x"
