# Versions and dependencies declared here are NOT covered by Dependabot.
# Therefore it focuses on versions that should be updated by hand:
#  - Reactor ecosystem
#  - Fixed versions (JSR166, JSR305...)
#  - Libraries that we want to more closely monitor / have an associated plugin (RS, Micrometer, Kotlin)
#  - Plugins (including Kotlin)

[versions]
# Baselines, should be updated on every release
baseline-core-api = "3.6.10"
baselinePerfCore = "3.6.10"
baselinePerfExtra = "3.5.2"

# Other shared versions
asciidoctor = "4.0.3"
#note that some micrometer artifacts like context-propagation has a different version directly set in libraries below
micrometer = "1.12.10"
micrometerDocsGenerator = "1.0.4"
micrometerTracingTest="1.2.10"
contextPropagation="1.1.1"
kotlin = "1.8.22"
reactiveStreams = "1.0.4"

[libraries]
jsr166backport = "io.projectreactor:jsr166:1.0.0.RELEASE"
jsr305 = "com.google.code.findbugs:jsr305:3.0.1"
micrometer-bom = { module = "io.micrometer:micrometer-bom", version.ref = "micrometer" }
micrometer102Compatible-bom = { module = "io.micrometer:micrometer-bom", version = "1.10.7" }
micrometer-commons = { module = "io.micrometer:micrometer-commons" }
micrometer-core = { module = "io.micrometer:micrometer-core" }
micrometer-contextPropagation102 = "io.micrometer:context-propagation:1.0.2"
micrometer-contextPropagation = { module = "io.micrometer:context-propagation", version.ref = "contextPropagation" }
micrometer-docsGenerator = { module = "io.micrometer:micrometer-docs-generator", version.ref = "micrometerDocsGenerator"}
micrometer-observation-test = { module = "io.micrometer:micrometer-observation-test" }
micrometer-tracing-test = { module = "io.micrometer:micrometer-tracing-integration-test", version.ref = "micrometerTracingTest" }
micrometer-test = { module = "io.micrometer:micrometer-test" }
kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
reactiveStreams = { module = "org.reactivestreams:reactive-streams", version.ref = "reactiveStreams" }
reactiveStreams-tck = { module = "org.reactivestreams:reactive-streams-tck", version.ref = "reactiveStreams" }
reactor-perfBaseline-core = { module = "io.projectreactor:reactor-core", version.ref = "baselinePerfCore" }
reactor-perfBaseline-extra = { module = "io.projectreactor.addons:reactor-extra", version.ref = "baselinePerfExtra" }

[plugins]
artifactory = { id = "com.jfrog.artifactory", version = "4.31.0" }
asciidoctor-convert = { id = "org.asciidoctor.jvm.convert", version.ref = "asciidoctor" }
asciidoctor-pdf = { id = "org.asciidoctor.jvm.pdf", version.ref = "asciidoctor" }
bnd = { id = "biz.aQute.bnd.builder", version = "6.4.0" }
download = { id = "de.undercouch.download", version = "5.6.0" }
japicmp = { id = "me.champeau.gradle.japicmp", version = "0.4.3" }
jcstress = { id = "io.github.reyerizo.gradle.jcstress", version = "0.8.15" }
nohttp = { id = "io.spring.nohttp", version = "0.0.11" }
shadow = { id = "com.github.johnrengelman.shadow", version = "8.1.1" }
spotless = { id = "com.diffplug.spotless", version = "6.13.0" }
mrjar = { id = "me.champeau.mrjar",  version = "0.1.1" }
