[versions]
# Baselines, should be updated on every release
baseline-core-api = "3.4.23"
baselinePerfCore = "3.4.23"
baselinePerfExtra = "3.4.8"

# Other shared versions
asciidoctor = "3.3.2"
bytebuddy = "1.12.14"
jmh = "1.35"
junit = "5.9.0"
#note that some micrometer artifacts like context-propagation has a different version directly set in libraries below
micrometer = "1.10.0-SNAPSHOT" # was -M6
reactiveStreams = "1.0.4"

[libraries]
archUnit = "com.tngtech.archunit:archunit:0.23.1"
assertj = "org.assertj:assertj-core:3.23.1"
awaitility = "org.awaitility:awaitility:4.2.0"
blockhound = "io.projectreactor.tools:blockhound:1.0.6.RELEASE"
byteBuddy-agent = { module = "net.bytebuddy:byte-buddy-agent", version.ref = "bytebuddy" }
byteBuddy-api = { module = "net.bytebuddy:byte-buddy", version.ref = "bytebuddy" }
cglib = "cglib:cglib:3.3.0"
javaObjectLayout = "org.openjdk.jol:jol-core:0.16"
jmh-annotations-processor = { module = "org.openjdk.jmh:jmh-generator-annprocess", version.ref = "jmh" }
jmh-core = { module = "org.openjdk.jmh:jmh-core", version.ref = "jmh" }
jsr166backport = "io.projectreactor:jsr166:1.0.0.RELEASE"
jsr305 = "com.google.code.findbugs:jsr305:3.0.1"
junit-api = { module = "org.junit.jupiter:junit-jupiter-api" }
junit-bom = { module = "org.junit:junit-bom", version.ref = "junit" }
junit-engine = { module = "org.junit.jupiter:junit-jupiter-engine" }
junit-params = { module = "org.junit.jupiter:junit-jupiter-params" }
junit-platform = { module = "org.junit.platform:junit-platform-launcher" }
logback = "ch.qos.logback:logback-classic:1.2.11"
micrometer-bom = { module = "io.micrometer:micrometer-bom", version.ref = "micrometer" }
micrometer-commons = { module = "io.micrometer:micrometer-commons" }
micrometer-core = { module = "io.micrometer:micrometer-core" }
micrometer-contextPropagation = "io.micrometer:context-propagation:1.0.0-SNAPSHOT" # was -M5
micrometer-docsGenerator-bom = { module = "io.micrometer:micrometer-docs-generator-bom", version = "1.0.0-SNAPSHOT"} # was -M7
micrometer-docsGenerator-metrics = { module = "io.micrometer:micrometer-docs-generator-metrics" }
micrometer-observation-test = { module = "io.micrometer:micrometer-observation-test" }
micrometer-tracing-test = "io.micrometer:micrometer-tracing-integration-test:1.0.0-SNAPSHOT" # was -M8
micrometer-test = { module = "io.micrometer:micrometer-test" }
mockito = "org.mockito:mockito-core:4.7.0"
reactiveStreams = { module = "org.reactivestreams:reactive-streams", version.ref = "reactiveStreams" }
reactiveStreams-tck = { module = "org.reactivestreams:reactive-streams-tck", version.ref = "reactiveStreams" }
reactor-perfBaseline-core = { module = "io.projectreactor:reactor-core", version.ref = "baselinePerfCore" }
reactor-perfBaseline-extra = { module = "io.projectreactor.addons:reactor-extra", version.ref = "baselinePerfExtra" }
slf4j = "org.slf4j:slf4j-api:1.7.36"
testNg = "org.testng:testng:7.5"
throwingFunction = "com.pivovarit:throwing-function:1.5.1"

[plugins]
artifactory = { id = "com.jfrog.artifactory", version = "4.29.0" }
asciidoctor-convert = { id = "org.asciidoctor.jvm.convert", version.ref = "asciidoctor" }
asciidoctor-pdf = { id = "org.asciidoctor.jvm.pdf", version.ref = "asciidoctor" }
bnd = { id = "biz.aQute.bnd.builder", version = "6.3.1" }
download = { id = "de.undercouch.download", version = "5.1.2" }
japicmp = { id = "me.champeau.gradle.japicmp", version = "0.4.1" }
jcstress = { id = "io.github.reyerizo.gradle.jcstress", version = "0.8.13" }
nohttp = { id = "io.spring.nohttp", version = "0.0.10" }
shadow = { id = "com.github.johnrengelman.shadow", version = "7.1.2" }
spotless = { id = "com.diffplug.spotless", version = "6.11.0" }
testsets = { id = "org.unbroken-dome.test-sets", version = "4.0.0" }
