[versions]
# Baselines, should be updated on every release
baseline-core-api = "3.4.17"
baselinePerfCore = "3.4.17"
baselinePerfExtra = "3.4.8"

# Other shared versions
asciidoctor = "3.3.2"
bytebuddy = "1.12.9"
jmh = "1.35"
junit = "5.8.2"
micrometer = "1.10.0-M1"
reactiveStreams = "1.0.3"

[libraries]
archUnit = "com.tngtech.archunit:archunit:0.23.1"
assertj = "org.assertj:assertj-core:3.22.0"
awaitility = "org.awaitility:awaitility:4.2.0"
blockhound = "io.projectreactor.tools:blockhound:1.0.6.RELEASE"
byteBuddy-agent = { module = "net.bytebuddy:byte-buddy-agent", version.ref = "bytebuddy" }
byteBuddy-api = { module = "net.bytebuddy:byte-buddy", version.ref = "bytebuddy" }
cglib = "cglib:cglib:3.3.0"
contextPropagation = "io.micrometer:context-propagation-api:1.0.0-M2"
javaObjectLayout = "org.openjdk.jol:jol-core:0.16"
jmh-annotations-processor = { module = "org.openjdk.jmh:jmh-generator-annprocess", version.ref = "jmh" }
jmh-core = { module = "org.openjdk.jmh:jmh-core", version.ref = "jmh" }
jsr166backport = "io.projectreactor:jsr166:1.0.0.RELEASE"
jsr305 = "com.google.code.findbugs:jsr305:3.0.1"
junit-bom = { module = "org.junit:junit-bom", version.ref = "junit" }
logback = "ch.qos.logback:logback-classic:1.2.11"
micrometer-bom = { module = "io.micrometer:micrometer-bom", version.ref = "micrometer" }
micrometer-commons = { module = "io.micrometer:micrometer-commons" }
micrometer-core = { module = "io.micrometer:micrometer-core" }
mockito = "org.mockito:mockito-core:4.4.0"
reactiveStreams = { module = "org.reactivestreams:reactive-streams", version.ref = "reactiveStreams" }
reactiveStreams-tck = { module = "org.reactivestreams:reactive-streams-tck", version.ref = "reactiveStreams" }
reactor-perfBaseline-core = { module = "io.projectreactor:reactor-core", version.ref = "baselinePerfCore" }
reactor-perfBaseline-extra = { module = "io.projectreactor.addons:reactor-extra", version.ref = "baselinePerfExtra" }
slf4j = "org.slf4j:slf4j-api:1.7.36"
testNg = "org.testng:testng:7.5"
throwingFunction = "com.pivovarit:throwing-function:1.5.1"

[plugins]
artifactory = { id = "com.jfrog.artifactory", version = "4.28.1" }
asciidoctor-convert = { id = "org.asciidoctor.jvm.convert", version.ref = "asciidoctor" }
asciidoctor-pdf = { id = "org.asciidoctor.jvm.pdf", version.ref = "asciidoctor" }
bnd = { id = "biz.aQute.bnd.builder", version = "6.2.0" }
download = { id = "de.undercouch.download", version = "5.0.4" }
japicmp = { id = "me.champeau.gradle.japicmp", version = "0.4.0" }
jcstress = { id = "io.github.reyerizo.gradle.jcstress", version = "0.8.13" }
nohttp = { id = "io.spring.nohttp", version = "0.0.10" }
shadow = { id = "com.github.johnrengelman.shadow", version = "7.1.2" }
spotless = { id = "com.diffplug.spotless", version = "6.4.1" }
testsets = { id = "org.unbroken-dome.test-sets", version = "4.0.0" }
