name: CI
on:
  pull_request: {}
permissions: read-all
jobs:
  preliminary:
    name: preliminary sanity checks
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # tag=v2
        with:
          fetch-depth: 0 #needed by spotless
      - uses: actions/setup-java@f0bb91606209742fe3ea40199be2f3ef195ecabf # renovate: tag=v2
        with:
          distribution: 'temurin'
          java-version: 8
      - uses: gradle/gradle-build-action@cd579d970f8aec1cf0cae5f62a8e418768970015 # tag=v2
        name: spotless (license header)
        if: always()
        with:
          arguments: spotlessCheck -PspotlessFrom=origin/${{ github.base_ref }}
      - uses: gradle/gradle-build-action@cd579d970f8aec1cf0cae5f62a8e418768970015 # tag=v2
        name: api compatibility
        if: always()
        with:
          arguments: japicmp --quiet
      - name: how to fix
        if: failure()
        # the foreground (38;5) color code 208 is orange. we also have bold, white bg (38;5;0;48;5;255m), white fg on black bg...
        run: |
          echo -e "\n\033[38;5;0;48;5;208m \u001b[1m How to deal with errors in preliminary job: \u001b[0m\033[0m"
          echo "(Have a look at the steps above to see what failed exactly)"
          echo -e "\n - \u001b[1mSpotless (license headers)\u001b[0m failures on touched java files \033[38;5;255;48;5;0m\u001b[1mcan be automatically fixed by running\u001b[0m:"
          echo -e "   \033[38;5;0;48;5;255m ./gradlew spotlessApply \033[0m"
          echo -e "\n - \u001b[1mAPI Compatibility\u001b[0m failures should be considered carefully and \033[38;5;255;48;5;0m\u001b[1mdiscussed with maintainers in the PR\u001b[0m"
          echo "   If there are failures, the detail should be available in the logs of the api compatibility step above:"
          echo -e "   \033[38;5;0;48;5;255m look for 'API compatibility failures' section \033[0m towards the end of Gradle output."
          echo "   Alternatively, locally run the following command to get access to the full report:"
          echo -e "   \033[38;5;0;48;5;255m ./gradlew japicmp \033[0m"
          echo ""
          exit -1
  core-fast:
    name: core fast tests
    runs-on: ubuntu-latest
    needs: preliminary
    steps:
    - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # tag=v2
    - uses: actions/setup-java@f0bb91606209742fe3ea40199be2f3ef195ecabf # renovate: tag=v2
      with:
        distribution: 'temurin'
        java-version: 8
    - uses: gradle/gradle-build-action@cd579d970f8aec1cf0cae5f62a8e418768970015 # tag=v2
      name: gradle
      with:
        arguments: :reactor-core:test --no-daemon -Pjunit-tags=!slow
  core-slow:
    name: core slower tests
    runs-on: ubuntu-latest
    needs: preliminary
    steps:
    - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # tag=v2
    - uses: actions/setup-java@f0bb91606209742fe3ea40199be2f3ef195ecabf # renovate: tag=v2
      with:
        distribution: 'temurin'
        java-version: 8
    - uses: gradle/gradle-build-action@cd579d970f8aec1cf0cae5f62a8e418768970015 # tag=v2
      name: gradle
      with:
        arguments: :reactor-core:test --no-daemon -Pjunit-tags=slow
  other:
    name: other tests
    runs-on: ubuntu-latest
    needs: preliminary
    steps:
    - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # tag=v2
    - uses: actions/setup-java@f0bb91606209742fe3ea40199be2f3ef195ecabf # renovate: tag=v2
      with:
        distribution: 'temurin'
        java-version: 8
    - uses: gradle/gradle-build-action@cd579d970f8aec1cf0cae5f62a8e418768970015 # tag=v2
      name: other tests
      with:
        arguments: check -x :reactor-core:test -x spotlessCheck --no-daemon
