name: CI
on:
  pull_request: {}
jobs:
  core-fast:
    name: core fast tests
    runs-on: ubuntu-latest
    steps:
    # the skip-duplicate-actions step actually applies to the whole workflow
    - uses: fkirc/skip-duplicate-actions@master
      name: cancel previous runs
      with:
        github_token: ${{ github.token }}
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - uses: gradle/gradle-build-action@v2
      name: gradle
      with:
        arguments: :reactor-core:test --no-daemon -Pjunit-tags=!slow
  core-slow:
    name: core slower tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - uses: gradle/gradle-build-action@v2
      name: gradle
      with:
        arguments: :reactor-core:test --no-daemon -Pjunit-tags=slow
  other:
    name: other tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - uses: gradle/gradle-build-action@v2
      name: license header
      with:
        arguments: spotlessCheck -PspotlessFrom=origin/${{ github.base_ref }}
    - uses: gradle/gradle-build-action@v2
      name: other tests
      with:
        arguments: check -x :reactor-core:test --no-daemon
