name: Full Check

on:
  workflow_dispatch:
  schedule:
    - cron: "0 14 * * 0"
permissions: {}
jobs:
  run-tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        branch: [ 3.7.x, main ]
        test-type:
          - type: core
            arguments: ":reactor-core:test --no-daemon"
          - type: other # includes java21Test and java9Test for 3.6+/ java11Test for 3.7+
            arguments: "check -x :reactor-core:test -x spotlessCheck -x :reactor-core:jcstress --no-daemon"
          - type: jcstress
            arguments: ":reactor-core:jcstress -Pjcstress.mode=quick --no-daemon"
    name: Test on ${{ matrix.branch }} - ${{ matrix.test-type.type }} tests
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v5
        with:
          ref: ${{ matrix.branch }}
      - name: Setup Java 8
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # tag=v5
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Setup Java 11
        if: contains('main 3.7.x', matrix.branch)
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # tag=v5
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Setup Java 21
        if: contains('main 3.7.x', matrix.branch)
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # tag=v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
      - name: Run Gradle Tests
        run: ./gradlew ${{ matrix.test-type.arguments }}
