name: Nightly Check

on:
  schedule:
    - cron: "0 14 * * 0"
permissions: read-all
jobs:
  core-fast:
    name: core fast tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch: [ 3.5.x, main ]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # tag=v4
        with:
          ref: ${{ matrix.branch }}
      - name: Download JDK 9
        if: ${{ matrix.branch == 'main' }}
        run: ${GITHUB_WORKSPACE}/.github/setup.sh
        shell: bash
      - name: Setup JDK 9
        if: ${{ matrix.branch == 'main' }}
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'jdkfile'
          java-version: 9.0.4
          jdkFile: /opt/openjdk/java9/OpenJDK9U-jdk_x64_linux_hotspot_9.0.4_11.tar.gz
      - name: Setup JDK 21
        if: ${{ matrix.branch == 'main' }}
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup JDK 8
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 8
      - uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # tag=v3
        name: gradle
        with:
          arguments: :reactor-core:test --no-daemon -Pjunit-tags=!slow -DuseSnapshotMicrometerVersion=true
  java-21-core-fast:
    name: Java 21 core fast tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # tag=v4
        with:
          ref: main
      - name: Download JDK 9
        run: ${GITHUB_WORKSPACE}/.github/setup.sh
        shell: bash
      - name: Setup JDK 9
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'jdkfile'
          java-version: 9.0.4
          jdkFile: /opt/openjdk/java9/OpenJDK9U-jdk_x64_linux_hotspot_9.0.4_11.tar.gz
      - name: Setup JDK 21
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup JDK 8
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 8
      - uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # tag=v3
        name: gradle
        with:
          arguments: :reactor-core:java21Test --no-daemon -Pjunit-tags=!slow -DuseSnapshotMicrometerVersion=true
  core-slow:
    name: core slower tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch: [ 3.5.x, main ]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # tag=v4
        with:
          ref: ${{ matrix.branch }}
      - name: Download JDK 9
        if: ${{ matrix.branch == 'main' }}
        run: ${GITHUB_WORKSPACE}/.github/setup.sh
        shell: bash
      - name: Setup JDK 9
        if: ${{ matrix.branch == 'main' }}
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'jdkfile'
          java-version: 9.0.4
          jdkFile: /opt/openjdk/java9/OpenJDK9U-jdk_x64_linux_hotspot_9.0.4_11.tar.gz
      - name: Setup JDK 21
        if: ${{ matrix.branch == 'main' }}
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup JDK 8
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 8
      - uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # tag=v3
        name: gradle
        with:
          arguments: :reactor-core:test --no-daemon -Pjunit-tags=slow -DuseSnapshotMicrometerVersion=true
  other:
    name: other tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch: [ 3.5.x, main ]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # tag=v4
        with:
          ref: ${{ matrix.branch }}
      - name: Download JDK 9
        if: ${{ matrix.branch == 'main' }}
        run: ${GITHUB_WORKSPACE}/.github/setup.sh
        shell: bash
      - name: Setup JDK 9
        if: ${{ matrix.branch == 'main' }}
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'jdkfile'
          java-version: 9.0.4
          jdkFile: /opt/openjdk/java9/OpenJDK9U-jdk_x64_linux_hotspot_9.0.4_11.tar.gz
      - name: Setup JDK 21
        if: ${{ matrix.branch == 'main' }}
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup JDK 8
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 8
      - uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # tag=v3
        if: ${{ matrix.branch == 'main' }}
        name: other tests
        with:
          arguments: check -x :reactor-core:test -x :reactor-core:java9Test -x :reactor-core:java21Test -x spotlessCheck --no-daemon -DuseSnapshotMicrometerVersion=true -Pjcstress.mode=quick
      - uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # tag=v3
        if: ${{ matrix.branch == '3.5.x' }}
        name: other tests
        with:
          arguments: check -x :reactor-core:test -x spotlessCheck --no-daemon -DuseSnapshotMicrometerVersion=true -Pjcstress.mode=quick