name: Snapshots Check

on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"
permissions: read-all
jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch: [ 3.6.x, 3.7.x, main ]
        test-type:
          - type: core
            arguments: ":reactor-core:test --no-daemon -DuseSnapshotMicrometerVersion=true"
          - type: other # includes java21Test and java9Test for 3.6+ / java11Test for 3.7+
            arguments: "check -x :reactor-core:test -x spotlessCheck -x :reactor-core:jcstress -DuseSnapshotMicrometerVersion=true --no-daemon"
    name: Test on ${{ matrix.branch }} - ${{ matrix.test-type.type }} tests
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # tag=v4
        with:
          ref: ${{ matrix.branch }}
      - name: Setup Java 8
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Setup Java 11
        if: contains('main 3.7.x', matrix.branch)
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Setup Java 21
        if: contains('main 3.6.x 3.7.x', matrix.branch)
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # tag=v3
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@94baf225fe0a508e581a564467443d0e2379123b
      - name: Run Gradle Tests
        run: ./gradlew ${{ matrix.test-type.arguments }}