name: Snapshots Check

on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"
permissions: {}
jobs:
  run-tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        branch: [ 3.7.x, main ]
        test-type:
          - type: core
            arguments: ":reactor-core:test --no-daemon -DuseSnapshotMicrometerVersion=true"
          - type: other # includes java21Test and java9Test for 3.6+ / java11Test for 3.7+
            arguments: "check -x :reactor-core:test -x spotlessCheck -x :reactor-core:jcstress -DuseSnapshotMicrometerVersion=true --no-daemon"
    name: Test on ${{ matrix.branch }} - ${{ matrix.test-type.type }} tests
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v5
        with:
          ref: ${{ matrix.branch }}
      - name: Setup Java 8
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # tag=v5
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Setup Java 11
        if: contains('main 3.7.x', matrix.branch)
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # tag=v5
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Setup Java 21
        if: contains('main 3.7.x', matrix.branch)
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # tag=v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884
      - name: Run Gradle Tests
        run: ./gradlew ${{ matrix.test-type.arguments }}